{% extends 'base.html' %}

{% block content%}

<div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
  <div class="feature col">
    <h2>Anzeige</h2>
    <p>
      <img
        src="{{ STATIC_PREFIX }}img/detail/{{classifiedad.file_id}}/{{classifiedad.file_id}}-{{classifiedad.block_id}}.jpg"
        alt="" />
  </p>
  </div>
  <div class="feature col">
    <h2>Navigation</h2>
    <p>
      <a href="{% url 'ad_detail' classifiedad.pk|add:'-1' %}">Vorherige</a>
        {{classifiedad.pk}}
      <a href="{% url 'ad_detail' classifiedad.pk|add:'1' %}">Nächste</a>
    </p>
    <h2>Text</h2>
    <p>{{classifiedad.text}}</p>
    <h2>Info</h2>
    <li>{{classifiedad.block_id}}</li>
    <li>{{classifiedad.newspaper_page}}</li>
  </div>
</div>
{% endblock %}
