{% extends 'base.html' %}

{% block content%}

<section class="jumbotron text-center">
  <div class="container">
    <h1>Vorwärts Kleinanzeigen</h1>
    <p class="lead text-muted">Sieht ein Bild interessant aus? Klick auf die Seite, um sie zu vergrößern.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for page in object_list %}
      <div class="col">
        <div class="card shadow-sm text-center">
          <a href="{% url 'page_detail' page.pk %}">
          <img
            src="{{ STATIC_PREFIX }}img/thumbs/{{page.file_id}}.jpg"
            alt="{{ page.file_id }}"
            width="80%">
          </a>
          <p class="card-text"><strong>{{ page.publish_date | date:'d.m.Y' }}</strong><br>
            Ausgabe {{ page.issue_number }}  Seite {{ page.page_number }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<nav aria-label="navigation">
  <ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
      <li class="page-item">
      <a class="page-link" href="?page=1"><span aria-hidden="true">&laquo;</span></a>
    </li>
  {% else %}
      <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>
    </li>
  {% endif %}

  {% if page_obj.number|add:'-2' > 1 %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-3' }}">&lsaquo;</a></li>
  {% endif %}

  {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active" aria-current="page">
        <span class="page-link">
          {{ i }}
        </span>
      </li>
      {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
           <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
  {% endfor %}

  {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
     <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'3' }}">&rsaquo;</a></li>
  {% endif %}

  {% if page_obj.has_next %}
      <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><span aria-hidden="true">&raquo;</span></a>
    </li>
  {% else %}
      <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&raquo;</span></a>
    </li>
  {% endif %}
</ul>
</nav>
{% endblock %}
