{% extends 'base.html' %}

{% block content%}

<div class="px-4 text-center border-bottom">
    <h1 class="display-4 fw-bold">{{ newspaperpage.publish_date | date:'d.m.Y' }}</h1>
    <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <strong>
          Ausgabe {{ newspaperpage.issue_number }}
          Zeitungsseite {{ newspaperpage.page_number }}
          <a href="{% url 'page_detail' newspaperpage.pk|add:'-1' %}">Vorherige</a>
          <a href="{% url 'page_detail' newspaperpage.pk|add:'1' %}">Nächste</a>
        </strong>
        <br/><br/>
        <span onclick="toggle_adboxes()">Anzeigenumrisse ein/ausblenden</span>
    </div>
    </div>
    <div class="container px-5">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 {{newspaperpage.width}} {{newspaperpage.height}}">
        <image
          width="{{newspaperpage.width}}"
          height="{{newspaperpage.height}}"
          xlink:href="{{ STATIC_PREFIX }}img/scans/{{newspaperpage.file_id}}.jpg">
        </image>
        {% for i in newspaperpage.advertisements.all %}
          <a xlink:href="{% url 'ad_detail' i.pk %}">
            <rect
              x="{{i.x}}"
              y="{{i.y}}"
              width="{{i.width}}"
              height="{{i.height}}"
              class="adbox">
            </rect>
          </a>
        {% endfor %}
        </svg>

    </div>
</div>
{% endblock %}
