{% extends 'base.html' %}

{% block content%}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">{{ newspaperpage.publish_date | date:'d.m.Y' }}</h1>
    <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <strong>Ausgabe {{ newspaperpage.issue_number }}  Zeitungsseite {{ newspaperpage.page_number }}</strong>
    </div>
    </div>
    <div class="container px-5">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 {{newspaperpage.width}} {{newspaperpage.height}}">
        <image
          width="{{newspaperpage.width}}"
          height="{{newspaperpage.height}}"
          xlink:href="{{ STATIC_PREFIX }}img/scans/{{newspaperpage.file_id}}.jpg">
        </image>
        <a xlink:href="1.html">
        <rect x="100" y="54" fill="#fff" opacity="0" width="638" height="1800"></rect>
        </a><a xlink:href="listing.html">
        <rect x="96" y="1864" fill="#fff" opacity="0" width="634" height="1096"></rect>
        </a><a xlink:href="3.html">
        <rect x="102" y="2974" fill="#fff" opacity="0" width="631" height="520"></rect>
        </a><a xlink:href="6.html">
        <rect x="421" y="3897" fill="#fff" opacity="0" width="291" height="143"></rect>
        </a><a xlink:href="8.html">
        <rect x="751" y="96" fill="#fff" opacity="0" width="621" height="1163"></rect>
        </a><a xlink:href="9.html">
        <rect x="744" y="1314" fill="#fff" opacity="0" width="623" height="849"></rect>
        </a><a xlink:href="10.html">
        <rect x="749" y="2250" fill="#fff" opacity="0" width="620" height="255"></rect>
        </a><a xlink:href="11.html">
        <rect x="744" y="2554" fill="#fff" opacity="0" width="623" height="301"></rect>
        </a><a xlink:href="12.html">
        <rect x="749" y="2874" fill="#fff" opacity="0" width="621" height="391"></rect>
        </a><a xlink:href="13.html">
        <rect x="127" y="3584" fill="#fff" opacity="0" width="590" height="593"></rect>
        </a><a xlink:href="14.html">
        <rect x="103" y="4277" fill="#fff" opacity="0" width="636" height="711"></rect>
        </a><a xlink:href="15.html">
        <rect x="750" y="3290" fill="#fff" opacity="0" width="622" height="419"></rect>
        </a><a xlink:href="16.html">
        <rect x="1396" y="63" fill="#fff" opacity="0" width="616" height="230"></rect>
        </a><a xlink:href="17.html">
        <rect x="1391" y="309" fill="#fff" opacity="0" width="617" height="218"></rect>
        </a><a xlink:href="18.html">
        <rect x="1390" y="551" fill="#fff" opacity="0" width="615" height="300"></rect>
        </a><a xlink:href="19.html">
        <rect x="1387" y="870" fill="#fff" opacity="0" width="617" height="651"></rect>
        </a><a xlink:href="20.html">
        <rect x="1386" y="1611" fill="#fff" opacity="0" width="619" height="396"></rect>
        </a><a xlink:href="21.html">
        <rect x="757" y="3718" fill="#fff" opacity="0" width="621" height="1101"></rect>
        </a><a xlink:href="22.html">
        <rect x="757" y="4836" fill="#fff" opacity="0" width="184" height="80"></rect>
        </a><a xlink:href="23.html">
        <rect x="757" y="4836" fill="#fff" opacity="0" width="618" height="155"></rect>
        </a><a xlink:href="24.html">
        <rect x="1387" y="2023" fill="#fff" opacity="0" width="619" height="490"></rect>
        </a><a xlink:href="25.html">
        <rect x="1386" y="2529" fill="#fff" opacity="0" width="619" height="350"></rect>
        </a><a xlink:href="26.html">
        <rect x="2034" y="59" fill="#fff" opacity="0" width="844" height="121"></rect>
        </a><a xlink:href="27.html">
        <rect x="1389" y="2903" fill="#fff" opacity="0" width="619" height="260"></rect>
        </a><a xlink:href="28.html">
        <rect x="1391" y="3181" fill="#fff" opacity="0" width="621" height="544"></rect>
        </a><a xlink:href="29.html">
        <rect x="2032" y="177" fill="#fff" opacity="0" width="88" height="34"></rect>
        </a><a xlink:href="30.html">
        <rect x="2894" y="57" fill="#fff" opacity="0" width="396" height="160"></rect>
        </a><a xlink:href="31.html">
        <rect x="2025" y="261" fill="#fff" opacity="0" width="1261" height="390"></rect>
        </a><a xlink:href="32.html">
        <rect x="2024" y="711" fill="#fff" opacity="0" width="1263" height="434"></rect>
        </a><a xlink:href="33.html">
        <rect x="2019" y="1165" fill="#fff" opacity="0" width="1269" height="446"></rect>
        </a><a xlink:href="34.html">
        <rect x="2020" y="1613" fill="#fff" opacity="0" width="1267" height="440"></rect>
        </a><a xlink:href="35.html">
        <rect x="2025" y="2079" fill="#fff" opacity="0" width="1265" height="384"></rect>
        </a><a xlink:href="36.html">
        <rect x="1394" y="3741" fill="#fff" opacity="0" width="619" height="730"></rect>
        </a><a xlink:href="37.html">
        <rect x="1395" y="4487" fill="#fff" opacity="0" width="619" height="374"></rect>
        </a><a xlink:href="38.html">
        <rect x="1395" y="4875" fill="#fff" opacity="0" width="620" height="126"></rect>
        </a><a xlink:href="39.html">
        <rect x="2024" y="2477" fill="#fff" opacity="0" width="1271" height="560"></rect>
        </a><a xlink:href="40.html">
        <rect x="2023" y="3041" fill="#fff" opacity="0" width="1268" height="746"></rect>
        </a><a xlink:href="41.html">
        <rect x="2029" y="3791" fill="#fff" opacity="0" width="1195" height="214"></rect>
        </a><a xlink:href="42.html">
        <rect x="2399" y="3979" fill="#fff" opacity="0" width="834" height="94"></rect>
        </a><a xlink:href="43.html">
        <rect x="2029" y="4005" fill="#fff" opacity="0" width="1108" height="146"></rect>
        </a><a xlink:href="44.html">
        <rect x="2871" y="4117" fill="#fff" opacity="0" width="314" height="56"></rect>
        </a><a xlink:href="45.html">
        <rect x="2030" y="4157" fill="#fff" opacity="0" width="1167" height="363"></rect>
        </a><a xlink:href="46.html">
        <rect x="2030" y="4455" fill="#fff" opacity="0" width="1162" height="312"></rect>
        </a><a xlink:href="47.html">
        <rect x="2033" y="4771" fill="#fff" opacity="0" width="1251" height="248"></rect>
        </a><a xlink:href="48.html">
        <rect x="595" y="5001" fill="#fff" opacity="0" width="2032" height="75"></rect>
        </a><a xlink:href="49.html">
        <rect x="2867" y="5020" fill="#fff" opacity="0" width="414" height="58"></rect>
        </a>
        </svg>

    </div>
</div>
{% endblock %}
